@import '../../App.scss';


.categories-items {
    @media screen and (min-width: 420px){
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
    }

    @media screen and (min-width: 576px){
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 992px){
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: 1080px){
        grid-template-columns: repeat(5, 1fr);
    }

    .category-item{
        background-color: $clr-white;
        position: relative;
        margin: 12px auto;
        box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
        border-radius: 3px;
        box-shadow: rgba(99, 99, 99, 0.09) 0px 2px 8px 0px;

        .category-img{
            height: 150px;
            img{
                padding: 12px;
                transition: $transition;
            }

            &:hover{   
                    transform: scale(1.2);   
            }
        }
    }
}

